<h1>Create a new post</h1>

<%= form_for @review do |f| %>
 <%= f.label :author %>
 <%= f.text_field :author %>
 <%= f.label :country_name %>
 <%= f.text_field :country_name %>
 <%= f.label :city_name %>
 <%= f.text_field :city_name %>
 <%= f.label :content %>
 <%= f.text_field :content %>
 <%= f.label :rating %>
 <%= f.number_field :rating %>
 <%= f.submit  %>
<% end %>
